@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif; /* Stylish and modern font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-inputs {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.game-image {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Ensuring the image has enough height */
    object-fit: cover; /* Ensuring the image covers the given dimensions */
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

footer {
    position: absolute;
    bottom: 10px;
}
